*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    margin: 0 auto;
}


header {
    height: 100px;
    background-color: green;
    margin-bottom: 10px;

}

.row {
    height: 400px;
    background-color: grey;

}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

footer {
    height: 50px;
    background-color: blue;
    margin-top: 10px;

}

main {
    width: 50%;
    height: 400px;
    background-color: white;
    float: left;
    padding: 0px 10px;

}

.content {
    height: 100%;
    background-color: violet;
}

aside{
    width: 25%;
    height: 400px;
    background-color: pink;
    float: left;
}
